:root {
  --dark-grey: #333333;
  --mid-grey: #666666;
  --light-grey: #999999;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  /* Overwrite semantic-ui 'center' which scuffs scrolling for long tables */
  place-items: stretch normal !important;
}

.main-content {
  margin-top: 6em;
}