:root {
  --dark-grey: #333333;
  --mid-grey: #666666;
  --light-grey: #999999;
}

body {
  background: var(--dark-grey);
  color: #FFFFFF;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ui.input > input, .ui.input > input:active {
  background: var(--mid-grey);
  color: #FFFFFF;
  -webkit-tap-highlight-color: var(--light-grey);
}